<nav class="navbar navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="/">
    <img src="/assets/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> Angular Pokedex</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">Home</a>
      <a class="nav-item nav-link" routerLink="pokedex" [routerLinkActive]="['active']">Pokedex</a>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    v 0.0.1 - Made with
    <i class="fa fa-heart"></i> by
    <a href="https://ionicacademy.com" target="blank">the Ionic Academy</a>
  </div>
</nav>
